/* CSS Reset, courtesy of Eric Meyer
http://meyerweb.com/eric/tools/css/reset/ 
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Landing Project CSS */

body {
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.centered {
    width: 65%;
    margin: 0 auto;
}

/* Header styles */

header a, header p {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

header, footer {
    background-color: #1f2937 ;
}

header {
    /* height: 500px; */
    display: flex;
    flex-flow: column;
    gap: 70px;
    justify-content: flex-start; 
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
}

.header-top span {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}

header h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: 15px;
}

.header-bottom {
    display: flex;
    gap: 5%;
    justify-content: space-between;
    margin-bottom: 80px;
}

.header-bottom-image {
    background-color: gray;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
}

.header-bottom-left {
    width: 45%;
}

.sign-up-button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 24px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

/* Content styles */

.content-subtitle {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 40px 0;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 156px;
    height: 240px;
}

.card-image {
    border: 3px solid #3882f6;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Reviews styles */

.reviews {
    background-color: #e5e7eb;
}

.quote-container {
    margin: 120px auto;
    width: 756px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 15px;
}

.speaker {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
}

/* Call-to-action styles */

/* .call-to-action {
    
} */

.popup-container {
    background-color: #3882f6;
    margin: 70px auto;
    border-radius: 10px;
}

.popup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    color: #f9faf8;
}

.popup h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 6px;
}

.popup p {
    font-size: 18px;
    font-weight: lighter;
}

.popup button {
    border: 2px solid #f9faf8;
    margin-top: 0;
}